<div class="sidebar" [class.closed]="!menuOpen" [class.open]="menuOpen">
  <div class="hamburger" [class.active]="menuOpen" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav>
    <a routerLink="/inventario" class="btn btn-inventario">INVENTARIO</a>
    <a routerLink="/facturas" class="btn btn-seccion">FACTURAS</a>
    <a routerLink="/proveedores" class="btn btn-seccion">PROVEEDORES</a>
    <a routerLink="/sucursales" class="btn btn-seccion">SUCURSALES</a>
    <a routerLink="/configuracion" class="btn btn-seccion">CONFIGURACIÓN</a>
    <a routerLink="/contacto" class="btn btn-seccion">CONTACTO</a>

    <div class="user-info">
      <div
        class="user-icon rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center"
      >
        <span class="material-symbols-outlined" style="font-size: 20px"
          >person</span
        >
      </div>
      <div class="user-details">
        <span class="user-name fw-semibold">USUARIO</span>
        <div class="user-status text-success" style="font-size: 0.8em">
          Conectado
        </div>
      </div>
    </div>
  </nav>
</div>
