<div class="sidebar" [class.closed]="!menuOpen" [class.open]="menuOpen">
  <div class="hamburger" [class.active]="menuOpen" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav>
    <a
      routerLink="/dashboard/inventario"
      routerLinkActive="active"
      class="btn btn-seccion"
      >INVENTARIO</a
    >
    <a
      routerLink="/dashboard/facturas"
      routerLinkActive="active"
      class="btn btn-seccion"
      >FACTURAS</a
    >
    <a
      routerLink="/dashboard/proveedores"
      routerLinkActive="active"
      class="btn btn-seccion"
      >PROVEEDORES</a
    >
    <a
      routerLink="/dashboard/sucursales"
      routerLinkActive="active"
      class="btn btn-seccion"
      >SUCURSALES</a
    >
    <a
      routerLink="/dashboard/configuracion"
      routerLinkActive="active"
      class="btn btn-seccion"
      >CONFIGURACIÓN</a
    >
    <a
      routerLink="/dashboard/contacto"
      routerLinkActive="active"
      class="btn btn-seccion"
      >CONTACTO</a
    >

    <div class="user-info">
      <div
        class="user-icon rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center"
      >
        <span class="material-symbols-outlined" style="font-size: 20px"
          >person</span
        >
      </div>
      <div class="user-details">
        <span class="user-name fw-semibold">USUARIO</span>
        <div class="user-status text-success" style="font-size: 0.8em">
          Conectado
        </div>
      </div>
    </div>

    <div class="d-flex">
      <button class="btn btn-outline-danger" (click)="cerrarSesion()">
        Cerrar Sesión
      </button>
    </div>
  </nav>
</div>
