<div class="not-found-container">
  <div class="not-found-content">
    <h1 class="not-found-title">404</h1>
    <p class="not-found-message">
      ¡Ups! La página que buscas no se pudo encontrar.
    </p>
    <p class="not-found-sub-message">
      Puede que la dirección sea incorrecta o la página ya no exista.
    </p>
    <button
      class="btn btn-primary not-found-button"
      routerLink="/dashboard/facturas"
    >
      Ir al Inicio (Facturas)
    </button>
    <button class="btn btn-secondary not-found-button mt-2" routerLink="/login">
      Ir a Login
    </button>
  </div>
</div>
