:host {
  display: block;
  font-family: Arial, sans-serif;
}

table {
  background-color: #fef9c3;
}

thead th {
  background-color: #4caf50 !important;
  color: black;
}

button.form-control {
  background-color: #fff3cd;
  border: 1px solid #ccc;
  font-weight: bold;
}

.material-symbols-outlined {
  vertical-align: middle;
  font-size: 20px;
}
