<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div
    class="p-5 rounded shadow-lg text-center"
    style="background: #2196f3; color: black; width: 50%"
  >
    <img src="assets/logos/tlc.png" width="60" class="mb-3" />
    <h3 class="fw-bold mb-4">REGISTRO DE USUARIO</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label for="nombre">Nombre</mat-label>
        <input matInput formControlName="nombre"/>
        @if(isRequired('nombre')){
          <mat-error>Campo Obligatorio</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label for="apellido">Apellido</mat-label>
        <input matInput formControlName="apellido"/>
        @if(isRequired('apellido')){
          <mat-error>Campo Obligatorio</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label for="correo">Correo</mat-label>
        <input matInput formControlName="correo"/>
        @if(isRequired('correo')){
          <mat-error>Campo Obligatorio</mat-error>
        }
        @if(hasEmailError('correo')){
          <mat-error>Debe ser Email</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label for="contrasenia">Contraseña</mat-label>
        <input matInput formControlName="contrasenia" type="password"/>
        @if(isRequired('contrasenia')){
          <mat-error>Campo Obligatorio</mat-error>
        }
        @if(hasSixDigits('contrasenia')){
          <mat-error>Debe tener un minimo de 6 caracteres</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 mb-2">
        <mat-label for="repetirContrasenia">Repetir contraseña</mat-label>
        <input matInput type="password" formControlName="repetirContrasenia"/>
        @if(isRequired('repetirContrasenia')){
            <mat-error>Campo Obligatorio</mat-error>
        }
        @if(hasSixDigits('repetirContrasenia')){
          <mat-error>Debe tener un minimo de 6 caracteres</mat-error>
        }
      </mat-form-field>

      <button
        mat-raised-button
        class="w-100 mb-2 btn btn-success"
        type="submit"
      >
        Registrarse
      </button>
    </form>
    <a class="d-block text-white mt-2" routerLink="/">¿Ya tienes cuenta? Iniciar sesión</a>
  </div>
</div>
