<div class="container-fluid bg-warning-subtle min-vh-100 py-4">
  <div class="row">
    <h2 class="text-center fw-bold mb-5">CONTACTO Y SOPORTE</h2>

    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="row justify-content-center g-4">
        <div class="col-md-6 col-lg-4">
          <mat-card class="contact-info-card text-center h-100 p-3">
            <mat-icon class="icon-lg">location_on</mat-icon>
            <h4 class="mt-3">Nuestra Oficina</h4>
            <p>
              Avenida Concha Y Toro, Av. San Carlos 1340, Puente Alto, Región
              Metropolitana
            </p>
          </mat-card>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-card class="contact-info-card text-center h-100 p-3">
            <mat-icon class="icon-lg">phone</mat-icon>
            <h4 class="mt-3">Llámanos</h4>
            <p>+56 9 1234 5678</p>
            <p>+56 2 9876 5432</p>
          </mat-card>
        </div>

        <div class="col-md-6 col-lg-4">
          <mat-card class="contact-info-card text-center h-100 p-3">
            <mat-icon class="icon-lg">access_time</mat-icon>
            <h4 class="mt-3">Horario de Atención</h4>
            <p>Lunes a Viernes: 9:00 - 18:00</p>
            <p>Sábados: 9:00 - 13:00</p>
          </mat-card>
        </div>
      </div>
      <div class="map-container mt-5 mb-4 rounded-3 shadow-sm">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1661.6427013332793!2d-70.57849413493966!3d-33.59789858861548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d7037854df81%3A0x893f58a1479b8f82!2sDuoc%20UC%3A%20Sede%20Puente%20Alto!5e0!3m2!1ses!2scl!4v1750284358637!5m2!1ses!2scl"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
